<footer class="container-fluid bg-black p-5 mt-2">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <img src="../assets/images/gamingfooter.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-12 mt-5">
            <div class="row justify-content-evenly flex-wrap g-5 text-center">
                <div class="col-md-2 col-sm-6">
                    <img src="../assets/images/upi.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="../assets/images/wetransfer.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="../assets/images/Begamble.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="../assets/images/gamblingcomm.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="../assets/images/cogra.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="../assets/images/mga.png" alt="" class="img-fluid">
                </div>
                
            </div>
        </div>
    </div>
</footer>