<div class="container-fluid  h-auto d-flex w-100">
    <app-sidebar class="mt-2  aside-bar"></app-sidebar>
    <div class="row right-sec  w-75 d-flex justify-content-end">
        <div class="container-fluid  h-auto d-flex w-100">
            <div class="row right-sec  w-100 d-flex justify-content-end">
                <div class="right-row-one bg-white col-lg-11 col-md-11 col-sm-12  mt-2  ">
                    <div class="col-md-12 col-sm-12 w-100 ">
                        <span class="fs-5 fw-bold mx-2 text-success">Inplay ({{inplay.length}})</span>
                     </div>
                </div>
                 <div class="right-row-one bg-white col-lg-11 col-md-11 col-sm-12  mt-2  ">
                    <div class="col-md-12 col-sm-12 w-100 ">
                        <span class="fs-6 fw-bold mx-2 ">Competitions</span>
                     </div>
                     <div class="text-center">
                        <p>No Match Available</p>
                     </div>
               </div>
            </div>
        </div>
        
        <div class="right-row-one col-lg-11 col-md-11 col-sm-12  mt-2 mb-4  ">
            <app-topcards></app-topcards>
        </div>
        <div class="col-md-11 mid-card-con mt-2">
                <app-midcard></app-midcard>
            </div>
        
    </div>
</div>
