<div class="container-fluid  h-auto d-flex w-100 ">
    <!-- <aside class="mt-2 bg-white">
        <div class="aside-bar  ">
            <div class="side-bar v0 " >
                <div class="side-nav">
                    <ul class="nav-item p-0">
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom px-3">
                            <a href="" class="text-decoration-none text-dark">
                                <span><i class="fa fa-star text-dark" aria-hidden="true" ></i></span>
                                <span class="px-1">Favourites</span>
                            </a>
                        </li>
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom px-3">
                            <a href="" class="text-decoration-none text-dark">
                                <span><i class="fa fa-bullseye text-dark" aria-hidden="true"></i></span>
                                <span class="px-1">In Play</span>
                            </a>
                        </li>
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom px-3">
                            <a href="" class="text-decoration-none text-dark">
                                <span><img src="../assets/images/tennis-ball.png" alt="" class="image-fluid" height="20" width="20"></span>
                                <span class="px-1">Tennis</span>
                            </a>
                        </li>
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom px-3">
                            <a href="" class="text-decoration-none text-dark">
                                <span><i class="fa fa-star text-dark" aria-hidden="true" ></i></span>
                                <span class="px-1">Football</span>
                            </a>
                        </li>
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom px-3">
                            <a href="" class="text-decoration-none text-dark">
                                <span><i class="fa fa-star text-dark" aria-hidden="true" ></i></span>
                                <span class="px-1">Kabbadi</span>
                            </a>
                        </li>
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom px-3">
                            <a href="" class="text-decoration-none text-dark">
                                <span><i class="fa fa-star text-dark" aria-hidden="true" ></i></span>
                                <span class="px-1">Horse</span>
                            </a>
                        </li>
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom px-3">
                            <a href="" class="text-decoration-none text-dark">
                                <span><i class="fa fa-star text-dark" aria-hidden="true" ></i></span>
                                <span class="px-1">Casino</span>
                            </a>
                        </li>
                        <li class="nav-item-list list-unstyled py-4 d-flex flex-column align-items-start border-bottom  px-3">
                            <a href="" class="text-decoration-none text-dark w-100">
                                <span><i class="fa fa-star text-dark" aria-hidden="true" ></i></span>
                                <span class="px-1">Favourites</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>     -->
    <app-sidebar class="mt-2 bg-white aside-bar"></app-sidebar>
    <div class="row right-sec  w-75 d-flex justify-content-end">
        <div class="right-row-one col-lg-11 col-md-11 col-sm-12  mt-2 mb-4  ">
            <app-topcards></app-topcards>
        </div>
        <div class="col-md-11 mid-card-con mt-2">
                <app-midcard></app-midcard>
            </div>
        <div class="cardcon">
            <app-inplay></app-inplay>
        </div>
        <!-- <app-cricket></app-cricket> -->
        <!-- <div class="right-row-one col-lg-11 col-md-11 col-sm-12  mt-2 mb-4  ">
            <app-topcards></app-topcards>
        </div> -->
        <!-- <div class="col-md-11 mid-card-con mt-2">
                <app-midcard></app-midcard>
            </div>
         -->
    </div>
</div>
