<div class="container-fluid bg-body-secondary">
    <app-header></app-header>
    <!-- <app-cricket></app-cricket> -->
    <!-- <app-cricket></app-cricket> -->
    <router-outlet></router-outlet>
    <!-- <app-football></app-football>
    <app-tennis></app-tennis> -->
    <!-- <app-kabaddi></app-kabaddi> -->
    <!-- <app-horse></app-horse> -->
    <!-- <app-casino></app-casino> -->
    <!-- <app-main-page></app-main-page> -->
    <!-- <app-inplay></app-inplay> -->
    <!-- <app-cards></app-cards> -->
    <!-- <app-main-page-overview></app-main-page-overview> -->
    <app-footer></app-footer>
</div>