aside{
    width: 13rem;
    margin-left: 3rem !important;
    bottom: 0;
    position: relative;
  }

  @media (max-width: 1024px) {
    aside{
      margin-left: 0;
  }
  }
  
  
    @media (max-width: 768px) {
      aside{
        display: none;
    }
    }